.circulo{
        
    width: 200px;
    height: 200px;
    border-radius: 60%;
    background-color:rgb(105, 167, 243);
    position: absolute;
}

.ojo {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50px;
    left: 50px;
    position: absolute;
}

.ojo1 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50px;
    left: 130px;
    position: absolute;
}

.nariz {
    
    top: 50px;
    left: 70px;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 30px solid black;
    position: absolute;
}

 .gnariz {
    transform: rotate(180deg);
    top: 90px;
    transition: 1s;
}

.boca {
    background: black;
    top: 130px;
    left: 60px;
    width: 80px;
    height: 50px;
    border-radius: 100px 100px 0px 0px;
     position: absolute;

}

.bocacir {
    border-radius: 0px 0px 100px 100px;
    transition: 1s;
    
}

.gojo {
    border-radius: 0%;
    transition: 1s;
}
 
 /*carita dos*/

.cuadrado {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 0%;
    background-color: pink;
    left: 400px;
}

.ojo2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 50px 50px;
    background-color: black;
    top: 30px;
    left: 30px;
}


.ojo23 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 50px 50px;
    background-color: black;
    top: 30px;
    left: 120px;
}
 .gojo2 {
    border-radius: 50%;
    transition: 1s;
}


.nariz2 {
    position: absolute;
    top: 90px;
    left: 70px;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid black;
    border-left: 30px solid transparent;
    border-bottom:  30px solid transparent;
}

.gnariz2 {
    transform: rotate(180deg);
    top: 30px;
    transition: 1s;
}

.boca2 {
    position: absolute;
    top: 140px;
    left: 50px;
    width: 100px;
    height: 50px;
    background: black;
    border-radius: 0px 0px 100px 100px;
}

.bocacir2 {
    border-radius: 100px 100px 0px 0px;
    transition: 1s;
}